@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  padding: 0px 10%;
  margin: 1% 2% 0 2%;
  height: 100px;
  margin-bottom: -3%;
  border-radius: 20px;
}
.logo {
  width: 12%;
  cursor: pointer;
  margin-right: auto;
  background-color: transparent;
}
.navLinks {
  list-style: none;
}
.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}

label {
  position: absolute;
  width: 60px;
  height: 30px;
  right: 20px;
  border: 2px solid;
  border-radius: 20px;
  margin-right: 7%;
  margin-top: -1%;
}

label::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 24px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  cursor: pointer;
  background: #000;
  transform: 0.4s;
}
label.active::before {
  left: 24px;
  background: #fff;
}
body.night {
  background: #000;
}

.navLinks li a {
  transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
  color: orange;
}

button {
  padding: 9px 25px;
  background-color: rgb(255, 140, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}

button:hover {
  background-color: rgba(255, 140, 0, 0.8);
}
#toggle {
  position: absolute;
  width: 60px;
  height: 30px;
  right: 20px;
  border: 2px solid;
  border-radius: 20px;
  margin-right: 7%;
  margin-top: -1%;
}
#toggle::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 24px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  cursor: pointer;
  background: #000;
  transform: 0.4s;
}

#container {
  margin-top: 5%;
}

.skoter {
  width: 100%;
}

#titel {
  margin-top: 1.5%;
  font-size: 45px;
  text-align: center;
  font-weight: 300;
}

#information {
  text-align: center;
  margin: 1% 20%;
  word-spacing: 3px;
  font-size: 20px;
}

td {
  text-align: center;
}
td h2 {
  margin-bottom: 2%;
}
.info {
  word-spacing: 2px;
}

#modeller {
  display: flex;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
#gtr {
  padding: 3%;
}
#up {
  padding: 3%;
}
.modell {
  border-radius: 5px;
}
.hyr {
  margin-top: 1%;
}

footer {
  display: flex;
  width: 100%;
  justify-content: left;
}

#map {
  height: 700px;
  width: 800px;
}
